<!-- <h1>Log in</h1>
 -->

<h1>Welcome to Rainforest<h1>
	<%= render 'form' %>
	<div class = "green-box">
		<p><%= link_to "Sign-up for a new account", new_user_path, class: "sign-up-link" %></p>
	</div>