/*// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


.landing-page {
	background: url(rainforest_background.jpg) no-repeat center center fixed; 
  	background-size: cover;

   /* background: black;
    display: block;
    transition: opacity .3s linear;*/

}


/*.landing-page:hover {
    opacity: .5;
}*/

/* .wrap {
    overflow: hidden;
    margin: auto;
}

.tint {
	overflow: hidden;
	background: blue;
	margin: 0 20px 20px 0;
  }*/

/*img {
    float: left;
    background: black;
    display: block;
    transition: opacity .3s linear;
}
img:hover {
    opacity: .5;
    cursor: pointer;
}*/
  


.field {
	font-size: 24px;
	color: #000;
	font-weight: bold;
}



::-webkit-input-placeholder {
	font-size: 24px;
	color: #202020;
	font-weight: bold;
}

.field input{
	height: 50px;
	width: 290px;
	/*border-color: #686868;*/
	border-color: #0099CC;
	border-radius: 15px;
	background-color: #808080;
	opacity: 0.7;
	color: #FFF;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.field:hover input{
	opacity: 0.95;

}

.actions input{
	box-shadow:inset 0px 1px 0px 0px #cae3fc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
	background-color:#79bbff;
	-webkit-border-top-left-radius:17px;
	-moz-border-radius-topleft:17px;
	border-top-left-radius:17px;
	-webkit-border-top-right-radius:17px;
	-moz-border-radius-topright:17px;
	border-top-right-radius:17px;
	-webkit-border-bottom-right-radius:17px;
	-moz-border-radius-bottomright:17px;
	border-bottom-right-radius:17px;
	-webkit-border-bottom-left-radius:17px;
	-moz-border-radius-bottomleft:17px;
	border-bottom-left-radius:17px;
	text-indent:0;
	border:1px solid #469df5;
	display:inline-block;
	color:#ffffff;
	font-family:Arial Black;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #287ace;

	margin-top: 10px;
	margin-bottom: 30px;
}
.actions:hover input{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
	background-color:#4197ee;
	cursor: pointer;
}.actions:active input{
	position:relative;
	top:1px;
}

.actions-bigger-btn input{
	box-shadow:inset 0px 1px 0px 0px #cae3fc;
	background-color:#79bbff;
	border-top-left-radius:17px;
	border-top-right-radius:17px;
	border-bottom-right-radius:17px;
	border-bottom-left-radius:17px;
	text-indent:0;
	border:1px solid #469df5;
	display:inline-block;
	color:#ffffff;
	font-family:Arial Black;
	font-size:30px;
	font-weight:bold;
	font-style:normal;
	height:80px;
	line-height:80px;
	width:200px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #287ace;

	margin-top: 10px;
	margin-bottom: 30px;

}

.actions-bigger-btn:hover input{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
	background-color:#4197ee;
	cursor: pointer;
}.actions-bigger-btn:active input{
	position:relative;
	top:1px;
}


.landing-page {
	background: url(rainforest_background.jpg) no-repeat center center fixed;
	background-size: cover;
}

#container{
	/*position: relative;*/
	margin: 0 auto;
	width: 100%;
	text-align: center;
	position: absolute;
	top: 50%;
	height: 400px;
	margin-top: -200px;

	/*background: url(rainforest_background.jpg) no-repeat center center fixed;
	background-size: cover;*/
}

#container h1{
	/*position:relative;*/
	font-size: 5em;
	color: #FFFFFF;
	/*left: 50%; */
	/*margin-right: auto;
	margin-left: auto;
	float: center;*/
}

#container p{
	font-size: 0.3em;
	color: #FFFFFF;
	text-align: center;
}

.form-signup-left{
	float: left;
	margin-left: 15%;

}

.form-signup-right{
	float: right;
	margin-right: 15%;

}

.blue-box {
	margin: 0 auto;
	width: 80%;
	text-align: center;
	position: relative;
	top: 50%;
	height: 300px;
	margin-top: -150px;
	background-color: #006699;
	opacity: 0.8;
	border-radius: 15px;
}

.green-box{
	margin: 0 auto;
	width: 100%;
	text-align: center;
	position: relative;
	top: 50%;
	height: 40px;
	margin-top: -20px;
	background-color: #009933;
	opacity: 0.9;
	border-radius: 15px;

	margin-top: 10px;
}